* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

form > input {
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    margin: 5px;
}

form > input:focus {
    border: 1px solid rgb(129, 33, 105);
}

#submit-btn {
    background-color: rgb(129, 33, 105);
    border: none;
    border-radius: 5px;
    color: white;
}
